
.Button {
    height:30px;
    width:60px;
    margin: 1px;
    padding:0px;
    background-color: yellowgreen;
    background-position: -10px -30px;
    background-image: url("/public/img/close.png");
    box-shadow: 5px 5px 10px rgb(141, 68, 68);
    box-sizing: border-box;

}

.Button.clicked{
    box-shadow: 5px 5px 10px rgb(93, 155, 180);
}

.Button:hover{
    box-shadow: 5px 5px 10px rgb(84, 163, 97);
}

.Button:active {
    transform: translateY(4px);
    box-shadow: 5px 5px 10px rgb(155, 163, 84);
}


.Button img{
    height:30px;
    width:30px;
     display: inline;
}

.Button *{vertical-align: middle;}